{% extends "blog/base.html" %}
{% block content %}
{% load static %}
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        <p class="aboutus-text"><b>Blogstastics</b> is the perfect place to read blogs and start to understand some of the fundamental concepts behind the technologies.</p>
                        <p class="aboutus-text"><b>Blogstastics</b> offers original coverage of the global blockchain and cryptocurrency news, provides opinions, reviews, guides, introduces to Crypto people with an aim to help the general public understand and successfully use these technologies now and in the future.</p>
                      </div>
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>About Me</h4>
                                    <p><b>Navneet Chourasia</b></p>
                              </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Contact Us</h4>
                                    <a href="https://www.linkedin.com/in/navneet-chourasia-a03a8a179/" class="fa fa-linkedin"></a>
                                    <a href="https://www.instagram.com/im__navneet/" class="fa fa-instagram"></a>
                                    <a href="https://m.facebook.com/navneet.chourasia.52" class="fa fa-facebook"></a>
                                    <p><b>Email - navneetchourasiabgt@gmail.com</b></p>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock %}
